spring:
  application:
    name: payutil
  security:
    oauth2:
      client:
        registration:
          kakao:
            client-id: YOUR_CLIENT_ID          # 발급받은 카카오 API 키
            client-secret: YOUR_CLIENT_SECRET  # 선택적 카카오 Client Secret
            scope: profile,account_email       # 요청할 정보 범위
            redirect-uri: "{baseUrl}/login/callback/kakao"  # 리디렉션 URI
            authorization-grant-type: authorization_code
            client-name: kakao
        provider:
          kakao:
            authorization-uri: https://kauth.kakao.com/oauth/authorize  # 카카오 로그인 URL
            token-uri: https://kauth.kakao.com/oauth/token              # 토큰 발급 URL
