# ==================================================
# 공통 설정
# ==================================================
spring:
  profiles:
    active: local
  security:
    oauth2:
      client:
        registration:
          kakao:
            client-name: kakao
            scope:
              - profile_nickname
              - profile_image
            authorization-grant-type: authorization_code
            client-authentication-method: client_secret_post
        provider:
          kakao:
            authorization-uri: https://kauth.kakao.com/oauth/authorize
            token-uri: https://kauth.kakao.com/oauth/token
            user-info-uri: https://kapi.kakao.com/v2/user/me
            user-name-attribute: id

# ==================================================
# local 프로파일(dev-tools 쓰려면 터미널에 set -a && source local.env && set +a 만 하고 vscode 버튼으로 돌려야 함)
# 1. set -a && source local.env && set +a && ./gradlew bootRun --args='--spring.profiles.active=local' 
# 2. Ctrl + C -> exit
# ==================================================
---
spring:
  config:
    activate:
      on-profile: local

  security:
    oauth2:
      client:
        registration:
          kakao:
            client-id: ${KAKAO_CLIENT_ID}
            client-secret: ${KAKAO_CLIENT_SECRET}
            redirect-uri: ${KAKAO_REDIRECT_URI}

logging:
  level:
    org.springframework.security: DEBUG
    org.springframework.web: DEBUG

server-info:
  base-url: ${BASE_URL}
  port: ${PORT}

kakao:
  web-url: ${BASE_URL}
  js-key: ${KAKAO_JS_KEY}

# ==================================================
# prod 프로파일
# 1. set -a && source local.env && set +a && ./gradlew bootRun --args='--spring.profiles.active=prod'
# 2. Ctrl + C -> exit
# ==================================================
---
spring:
  config:
    activate:
      on-profile: prod

  security:
    oauth2:
      client:
        registration:
          kakao:
            client-id: ${KAKAO_CLIENT_ID}
            client-secret: ${KAKAO_CLIENT_SECRET}
            redirect-uri: ${KAKAO_REDIRECT_URI}

server-info:
  base-url: ${BASE_URL}
  port: ${PORT}

kakao:
  web-url: ${BASE_URL}
  js-key: ${KAKAO_JS_KEY}


