server-info:
  base-url: https://reimagined-orbit-4jg7r59p5qv6hjxgx-8080.app.github.dev
  port: 8080

logging:
  level:
    org.springframework.security: DEBUG
    org.springframework.web: DEBUG

spring:
  security:
    oauth2:
      client:
        registration:
          kakao:
            client-name: kakao
            client-id: 4896e4018854516f94fcaba927f0b913
            client-secret: C8Ls0AmhhrkrKSJYFSLpPRhGaH0Bn4lp
            scope:
              - profile_nickname
              - profile_image
            authorization-grant-type: authorization_code
            redirect-uri: https://reimagined-orbit-4jg7r59p5qv6hjxgx-8080.app.github.dev/login/oauth2/code/kakao
            client-authentication-method: client_secret_post
        provider:
          kakao:
            authorization-uri: https://kauth.kakao.com/oauth/authorize
            token-uri: https://kauth.kakao.com/oauth/token
            user-info-uri: https://kapi.kakao.com/v2/user/me
            user-name-attribute: id

kakao:
  web-url: https://reimagined-orbit-4jg7r59p5qv6hjxgx-8080.app.github.dev
  js-key: 39e38609a0cbb50d554b80c1d616e2d5