spring:
  application:
    name: jpadrill

  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/testdb?serverTimezone=Asia/Seoul&characterEncoding=UTF-8
    username: testuser
    password: testpass

  jpa:
    show-sql: true
    hibernate:
      ddl-auto: none

# docker run -d \
#   --name mysql-dev \
#   -p 3306:3306 \
#   -e MYSQL_ROOT_PASSWORD=rootpass \
#   -e MYSQL_DATABASE=testdb \
#   -e MYSQL_USER=testuser \
#   -e MYSQL_PASSWORD=testpass \
#   mysql:8.0

# docker exec -it mysql-dev mysql -u root -p

# CREATE USER 'testuser'@'%' IDENTIFIED BY 'testpass';
# GRANT ALL PRIVILEGES ON testdb.* TO 'testuser'@'%';

CREATE TABLE member (
    id INT PRIMARY KEY AUTO_INCREMENT, -- GenerationType.IDENTITY
    email VARCHAR(30) UNIQUE NOT NULL,
    name VARCHAR(30) NOT NULL,
    role VARCHAR(30) NOT NULL,
    city VARCHAR(30) NOT NULL, -- @Embeddable
    street VARCHAR(30) NOT NULL, -- @Embeddable
    zipcode VARCHAR(30) NOT NULL, -- @Embeddable
    created_at DATETIME NOT NULL, -- @Auditing
    updated_at DATETIME NOT NULL -- @Auditing
);

CREATE TABLE project (
    id INT PRIMARY KEY AUTO_INCREMENT, -- GenerationType.IDENTITY
    name VARCHAR(30) NOT NULL,
    description VARCHAR(255),
    status VARCHAR(30) NOT NULL,
    start_date DATETIME NOT NULL,
    end_date DATETIME NOT NULL,
    created_at DATETIME NOT NULL, -- @Auditing
    updated_at DATETIME NOT NULL -- @Auditing
);

CREATE TABLE project_member (
    id INT PRIMARY KEY AUTO_INCREMENT, -- GenerationType.IDENTITY
    project_id INT NOT NULL,
    member_id INT NOT NULL,
    project_role VARCHAR(50) NOT NULL,
    joined_at DATETIME NOT NULL, -- @Auditing
    FOREIGN KEY (project_id) REFERENCES project (id) ON DELETE CASCADE,
    FOREIGN KEY (member_id) REFERENCES member (id) ON DELETE CASCADE,
    CONSTRAINT prevent_duplicated_project_member UNIQUE (project_id, member_id) -- 같은 프로젝트에 같은 멤버가 중복으로 들어가는 것을 방지
);
