body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
}

.h-space {
    width: 100%;
    height: 20px;
    background-color: transparent;
}

#loading {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
    background-color: rgb(245, 245, 245);
    color: rgb(31, 30, 30);
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (prefers-color-scheme: dark) {
    #loading {
        background-color: rgb(31, 30, 30);
        color: rgb(245, 245, 245);
    }
}

#matrix {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100vw;
    height: 100vh;
}

body.loaded #loading {
    opacity: 0;
    visibility: hidden;
}

#content-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#content-wrapper.logged-in {
    justify-content: center;
}

#content-wrapper.logged-out {
    justify-content: center;
}

#logo {
    pointer-events: none;
    user-select: none;
    width: 40%;
    max-width: 600px;
    min-width: 220px;
}

@media screen and (max-width: 767px) {
    #logo {
        width: 50%;
    }
}

.button {
    cursor: pointer;
    padding: 2px;
    padding-left: 2px;
    padding-right: 2px;
    width: auto;
    height: auto;
    font-size: 16px;
    background-color: white;
    border: 1px solid black;
}

@media screen and (max-width: 1024px) {
    .button {
        font-size: 15px;
    }
}

@media screen and (max-width: 767px) {
    .button {
        font-size: 13px;
    }
}

.input-group {
    display: flex;
    flex-direction: row;
    width: 80%;
    height: 45px;
    max-width: 800px;
}

#link-input {
    flex: 1;
    padding: 12px 18px;
    font-size: 16px;
    color: rgb(245, 245, 245);
    background-color: rgba(0, 0, 0, 0.05);
    border: 1px solid transparent;
    border-image: linear-gradient(to right, yellow, orange) 1;
    outline: none;
}

#modal {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: stretch;

    overflow: auto;

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -80%);

    width: 80%;
    max-width: 500px;
    height: auto;

    border: 1px solid #ccc;
    background: white;

    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease, transform 0.3s ease;
}

#modal.is-open {
    opacity: 1;
    transform: translate(-50%, -50%);
    pointer-events: auto;
}

.modal-title {
    margin: 20px;
    font-size: 28px;
}

@media screen and (max-width: 1024px) {
    .modal-title {
        font-size: 22px;
    }
}

@media screen and (max-width: 767px) {
    .modal-title {
        font-size: 18px;
    }
}


/* 이미지 업로드 컨테이너 */
.image-input-container {
  width: 50%; /* 부모 요소의 100% 너비를 사용 (필요시 고정 크기 지정 가능) */
  /* 최대 너비 설정 (선택 사항) */
  height: 0;
  padding-bottom: 100%; /* 2:1 비율을 위해 padding-bottom을 사용 */
  position: relative;
  border: 2px dashed #ccc;
  border-radius: 10px;
  background-color: #f8f8f8;
  overflow: hidden;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* 라벨 스타일 (클릭 가능한 영역) */
.image-upload-label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #333;
  font-size: 18px;
  text-align: center;
}

/* 파일 선택 input 숨기기 */
input[type="file"] {
  display: none;
}

/* 이미지 미리보기 */
.image-preview {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;  /* 비율을 맞추면서 이미지를 잘라서 채우기 */
  border-radius: 10px;
}
