#loading {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
    background-color: rgb(245, 245, 245);
    color: rgb(31, 30, 30);
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (prefers-color-scheme: dark) {
    #loading {
        background-color: rgb(31, 30, 30);
        color: rgb(245, 245, 245);
    }
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
}

body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    background-image: url('/images/home-background.gif');
    background-size: cover; 
    background-repeat: no-repeat; 
}

body.loaded #loading {
    opacity: 0;
    visibility: hidden;
}

#content-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#logo {
    pointer-events: none;
    user-select: none;
    width: 40%;
    max-width: 600px;
}


