.app {
    overflow-y: auto;
    margin: 0;
}

#content-wrapper {
    overflow-y: auto;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    max-width: 600px;
    min-height: 100vh;
    background-color: rgb(31, 30, 30);
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.button {
    cursor: pointer;
    padding: 2px 8px 2px 8px;
    font-size: 16px;
    background-color: white;
    border: 1px solid black;
}

#login-content-wrapper {
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}


#modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow-y: auto;

    width: 90%;
    max-width: 560px;
    max-height: 90vh;
 
    border: 1px solid #ccc;
    background: white;

    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease, transform 0.3s ease;
}


#modal.is-open {
    opacity: 1;
    transform: translate(-50%, -50%);
    pointer-events: auto;

}

.modal-title {
    margin: 20px;
    font-size: 28px;
}

#image-upload-form {
    height: 600px;
    width: 200px;
    background-color: orange;
}

#despcription-field {
    height: 60px;
    resize: none;
    margin: 10px;
    padding: 0;
    border-radius: 0px;
    outline: none;
    box-shadow: none;
}

.modal-textarea {
    resize: none;
    margin: 10px;
    padding: 0;
    border-radius: 0px;
    outline: none;
    box-shadow: none;
}

.modal-textarea-label {
    margin-left: 10px;
}