body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
}

#loading {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
    background-color: rgb(245, 245, 245);
    color: rgb(31, 30, 30);
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (prefers-color-scheme: dark) {
    #loading {
        background-color: rgb(31, 30, 30);
        color: rgb(245, 245, 245);
    }
}

#matrix {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100vw;
    height: 100vh;
}

body.loaded #loading {
    opacity: 0;
    visibility: hidden;
}

#content-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#content-wrapper.logged-in {
    justify-content: flex-start;
}

#content-wrapper.logged-out {
    justify-content: center;
}

#logo {
    pointer-events: none;
    user-select: none;
    width: 40%;
    max-width: 600px;
    min-width: 220px;
}

@media screen and (max-width: 767px) {
    #logo {
        width: 50%;
    }
}

.button {
    cursor: pointer;
    padding: 2px;
    padding-left: 2px;
    padding-right: 2px;
    width: auto;
    height: auto;
    font-size: 17px;
    background-color: white;
    border: 1px solid black;
}

@media screen and (max-width: 1024px) {
    .button {
        font-size: 15px;
    }
}

@media screen and (max-width: 767px) {
    .button {
        font-size: 13px;
    }
}

.input-group {
    display: flex;
    flex-direction: row;
    width: 80%;
    height: 100px;
    max-width: 800px;
    background-color: #27ae60;
}

/* input */
#link-input {
    width: 10%;
    padding: 12px 18px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-right: none; /* 경계선 제거 */
    border-radius: 999px 0 0 999px;
    outline: none;
}

/* button */
.submit-btn {
    width: 10%;
    background-color: #2ecc71;
    color: white;
    border: 1px solid #2ecc71;
    border-radius: 0 999px 999px 0;
    cursor: pointer;
    font-weight: bold;
}

.submit-btn:hover {
    background-color: #27ae60;
}