#app {
    margin: 0;
}

#main-layout-wrapper {
    position: relative;
    margin: 0 auto;
    overflow-y: auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100vw;
    max-width: 600px;
    min-height: 100vh;
    background-color: transparent;
}

#matrix {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

#logo {
    max-width: 90%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.button {
    cursor: pointer;
    padding: 2px 8px 2px 8px;
    font-size: 14px;
    background-color: white;
    border: 1px solid black;
    border-radius: 0px;
    outline: none;
    box-shadow: none;
}

#link-input-wrapper {
    width: 90%;
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

#link-input {
    width: 100%;
    font-size: 16px;
    color: white;
    background-color: rgba(0, 0, 0, 0.05);
    border: 1px solid transparent;
    border-image: linear-gradient(to right, yellow, orange) 1;
    outline: none;
}

#modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow-y: auto;

    padding: 16px;

    display: flex;
    flex-direction: column;
    gap: 16px;

    width: 90%;
    max-width: 560px;
    max-height: 90vh;

    border: 1px solid #ccc;
    background: white;

    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
}

#modal.is-open {
    opacity: 1;
    pointer-events: auto;
}

#modal-header-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#modal-title {
    margin: 0px;
    font-size: 28px;
}

#modal-close-btn {
    cursor: pointer;
}

#modal-image-input-form-wrapper {
    position: relative;
    width: 30%;
}

#modal-image-input {
    position: absolute;
    inset: 0;
    opacity: 0;
    cursor: pointer;
    z-index: 2;
}

#modal-image-preview-wrapper {
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    aspect-ratio: 1 / 2;

    border: 2px dashed #ccc;
    background-color: #f5f5f5;

    overflow: hidden;
}

#modal-image-preview {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: none;
}

#modal-image-upload-text {
    color: #888;
    font-size: 14px;
    pointer-events: none;
}

.modal-textarea-label {
    font-size: 16px;
    color: black;
}

.modal-textarea {
    resize: none;
    padding: 0;

    background-color: white;
    border: 1px solid black;
    border-radius: 0px;
    outline: none;
    box-shadow: none;
}

#modal-title-textarea {
    min-height: 60px;
}

#modal-despcription-textarea {
    min-height: 120px;
}

#modal-share-btn {
    min-height: 40px;
}