<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>payutil</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>

<body id="app">
    <div id="main-layout-wrapper">
        <canvas id="matrix"></canvas>

        <img id="logo" src="/images/logo.png" alt="payutil" />

        <!-- 로그아웃 상태 -->
        <a th:if="${user == null}" th:href="@{/oauth2/authorization/kakao}">
            <button class="button" type="button">카카오로 로그인</button>
        </a>

        <!-- 로그인 상태 -->
        <div th:if="${user != null}" id="link-input-wrapper">
            <input id="link-input">
            <button id="model-open-button" class="button" type="button">제출하기</button>
        </div>
    </div>

    <div id="modal">
        <div id="modal-header-wrapper">
            <h1 id="modal-title">양식을 제출해주세요. ❤️</h1>
            <h1 id="modal-close-button">X</h1>
        </div>

        <div id="modal-image-input-form-wrapper">
            <input id="modal-image-input" type="file" accept="image/*">

            <div id="modal-image-preview-wrapper">
                <img id="modal-image-preview" alt="미리보기">
                <span id="modal-image-upload-text">이미지 업로드</span>
            </div>
        </div>

        <label class="modal-textarea-label">제목</label>
        <textarea id="modal-title-textarea" class="modal-textarea" spellcheck="false" maxlength="15"></textarea>

        <label class="modal-textarea-label">본문</label>
        <textarea id="modal-despcription-textarea" class="modal-textarea" spellcheck="false" maxlength="20"></textarea>

        <label class="modal-textarea-label">버튼 내용</label>
        <textarea id="modal-button-textarea" class="modal-textarea" spellcheck="false" maxlength="10"></textarea>

        <button id="modal-share-button" class="button" type="button">공유하기</button>
    </div>

    <script th:src="@{/js/matrix.js}"></script>
    <script th:src="@{/js/modal.js}"></script>
    <script src="https://t1.kakaocdn.net/kakao_js_sdk/2.7.9/kakao.min.js"
        integrity="sha384-JpLApTkB8lPskhVMhT+m5Ln8aHlnS0bsIexhaak0jOhAkMYedQoVghPfSpjNi9K1"
        crossorigin="anonymous"></script>
    <script type="text/javascript"
        src="https://cdn.jsdelivr.net/npm/browser-image-compression@2.0.1/dist/browser-image-compression.js"></script>
    <script>
        Kakao.init('[[${jsKey}]]');
    </script>

</body>

</html>