<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>

<body>
    <!-- 로딩 화면 -->
    <div id="loading">로딩 중...</div>

    <!-- matrix effect 화면 -->
    <canvas id="matrix"></canvas>

    <div id="content-wrapper" th:classappend="${user != null} ? 'logged-in' : 'logged-out'">

        <img id="logo" src="/images/logo.png" alt="payutil" />

        <!-- 로그인 상태 -->
        <div class="input-group">
            
        </div>


        <!-- 로그아웃 상태 -->
        <a th:if="${user == null}" th:href="@{/oauth2/authorization/kakao}">
            <button class="button" type="button">카카오로 로그인</button>
        </a>
    </div>

    <script th:src="@{/js/loading.js}"></script>
    <script th:src="@{/js/matrix.js}"></script>
</body>

</html>